body {
    margin: 0;
    padding: 0;
}

.login {
    border: none;
    border-radius: 0.5vw;
    padding: 0.5vw 2vw;
    font-size: 1vw;
    background: #61dafb;
    color: white;
    cursor: pointer;
}
